body {
    background-image: url('../imagens/backgroundProduto.png');
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;

    margin: 0svb;
    overflow: none;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 0;
    font-style: normal;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.jaro-uniquifier {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.league-spartan-uniquifier {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

@font-face {
    font-family: Sugo-Pro-Display-Bold-trial;
    src: url('../fontes/Sugo-Pro-Classic-Bold-trial.ttf')
}

.navBar {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    background-color: #fff;
    border-radius: 50px;
    gap: 5%;
    padding: 0.3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo {
    width: 4%;
    height: auto;
    margin-left: 0%;
}

.botoes {
    margin-left: 79%;
    display: flex;
    font-size: 55%;
    font-family: "Poppins", sans-serif;
    color: #315483;
}

.botoes h1 {
    transition: 0.3s;
    cursor: pointer;
}


.botoes h1:hover {
    color: #7ba4d9;
    transform: scale(1.1);
}

.botoes h1:active {
    transform: scale(1);
}

.perfil {
    margin-left: -3%;
    width: 3.5%;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.perfil:hover {
    transform: scale(1.1);
}

.perfil:active {
    transform: scale(1);
}

.areaProduto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20%;
    margin-bottom: 5%;
}

.imagem {
    background-color: #fff;
    border-radius: 20px;
    width: 50%;
    height: 75vh;
    margin: auto;
    margin-left: 10%;
    margin-top: 5%;
    align-content: center;
}

.imgProduto {
    width: 80%;
    margin-left: 9%;
}

.infoProduto {
    width: 60%;
}

.areaTextosProduto {
    color: #fff;
    font-family: "Inter", sans-serif;
}

.plano1 {
    font-size: 300%;
    margin-bottom: -2%;
}

.preco {
    margin-top: -4%;
    font-size: 300%;
    font-weight: 700;
}

.textoProduto1 {
    width: 50%;
    font-size: 120%;
}

.comprarQuantidade {
    display: flex;
    gap: 3%;
}

.botaoComprar {
    width: 27%;
    height: 5vh;
    text-align: center;
    align-content: center;
    background-color: #315483;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.botaoComprar:hover {
    background-color: #203d62;
    transform: scale(1.05);
}

.botaoComprar:active{
    transform: scale(1);
}

.contador {
    display: flex;
    width: 17%;
    background-color: #fff;
    border: solid 2px #000;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20%;
    border-radius: 10px;
}

.botaoContador {
    border: solid 0px #000;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 3vh;
}

.botaoContador{
    font-size: 100%;
    background: none;
}

.botaoContador:hover {
    cursor: pointer;
}

#valor {
    font-family: "Poppins", sans-serif;
}

details {
    position: relative;
    width: fit-content;
}

.formasPagamentos {
    margin-top: 3%;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background-color: #767676;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 100%;
    transition: 0.3s;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}

.formasPagamentos::-webkit-details-marker {
    display: none;
}

.formasPagamentos:hover {
    background-color: #585858;
    transform: scale(1.03);
}

.formasPagamentos:active {
    transform: scale(0.98);
}

.listaPagamentos {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #767676;
    border-radius: 10px;
    padding: 8px;
    margin: 0;
    list-style: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: none;
    z-index: 10;
}

details[open] .listaPagamentos {
    display: block;
}

.listaPagamentos li {
    border: 1px solid #000;
    border-radius: 0;
    padding: 6px 10px;
    margin-bottom: 6px;
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
    color: #000;
    text-align: center;
    transition: background 0.2s;
}

.listaPagamentos li:last-child {
    margin-bottom: 0;
}

.listaPagamentos li:hover {
    background-color: #b9b9b9;
    cursor: pointer;
}